* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 400;
  background-color: beige;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

button,
select,
option {
  cursor: pointer;
}

.main-wrapper {
  background-color: white;
  padding: 1rem;
}

.options {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.color-option {
  display: flex;
  align-items: center;
}

.color-option label {
  padding-right: 0.2rem;
}

.color-option select,
.eraser-btn button,
.clear-btn button {
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
}

.eraser-btn,
.clear-btn {
  padding-left: 0.5rem;
}

.container-wrapper {
  padding: 1rem 0;
}

.container-inner {
  border: 2px solid black;
}

.container {
  /* display: flexbox; */
  display: grid;
  width: 35rem;
  height: 35rem;
  gap: 0.1rem;
}

.slider-wrapper {
  width: 100%;
}

#slider {
  cursor: pointer;
  opacity: 0.7;
}

#slider:hover {
  opacity: 1;
}
